---
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import { ALL_COMPANY } from './company-data';
---

<!-- https://www.kzix.com/luohu/4576.html -->
<Layout title="上海重点企业 415家">
  <Main pageTitle="Shanghai" pageDesc="Companies in Shanghai">
    <p class="text-gray-400">数据源 https://www.kzix.com/luohu/4576.html</p>

    <nav class="flex flex-col text-bold mt-2">
      <a href="#session1">-- #欧洲公司 -- </a>
      <a href="#session2">-- #美国公司 -- </a>
      <a href="#session3">-- #全部公司 -- </a>
    </nav>

    <div class="mt-8">
      <h3 id="sesson1">欧洲公司</h3>
       {ALL_COMPANY.filter(item => item.tag.includes('eu')).map((item, idx) => (
          <div class="p-2 border-b border-gray-200">
            {idx + 1}. {item.name}
          </div>
        ))}
    </div>

    <div class="mt-8">
      <h3 id="session2">美国公司</h3>
       {ALL_COMPANY.filter(item => item.tag.includes('us')).map((item, idx) => (
          <div class="p-2 border-b border-gray-200">
            {idx + 1}. {item.name}
          </div>
        ))}
    </div>

    <div class="mt-8 p-4">
      <h3 id="session3">全部415家</h3>
      <input 
        type="text" 
        id="searchInput" 
        placeholder="Search companies..." 
        class="w-full p-2 mb-4 border border-gray-300 rounded text-slate-950"
      />
      <div id="companyList">
        {ALL_COMPANY.map((item, idx) => (
          <div class="p-2 border-b border-gray-200">
            {idx + 1}. {item.name}
          </div>
        ))}
      </div>
    </div>

  </Main>
</Layout>

<script is:inline>
  document.addEventListener('DOMContentLoaded', (_event) => {
    const searchInput = document.getElementById('searchInput');
    const companyList = document.getElementById('companyList');
    const companies = companyList.querySelectorAll('div');

    searchInput.addEventListener('input', () => {
      const searchQuery = searchInput.value.toLowerCase();
      companies.forEach((company) => {
        if (company.textContent.toLowerCase().includes(searchQuery)) {
          company.style.display = '';
        } else {
          company.style.display = 'none';
        }
      });
    });
  });
</script>
